body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

#frame {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 12px;
}

h3 {
	font-size: 24px;
	color: #1d1d1d;
}


ul li {
	display: grid;
	grid: auto-flow dense / 1fr 1fr;
}

table {
	display: grid;
	grid-row-gap: 8px;
	/* grid-template-columns: repeat(auto-fit, 1fr); */
}

table .tr-heading {
	text-align: left;
	background: #1d1d1d;
	color: white;
}

table tr {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
}

table tr {
	padding: 8px;
}
table tbody:nth-child(even) {
	background-color: #f2f2f2;
}

table .land {
	cursor: pointer;
	border-bottom: 1px solid transparent;
}
table .land:hover {
	border-bottom: 1px solid red;
}

@media screen and (max-width: 420px) {

	table {
		overflow: auto;
	}
	
	table tr {
		grid-template-columns: minmax(200px, 2fr) minmax(200px, 2fr) minmax(200px, 2fr) minmax(200px, 1fr) minmax(200px, 1fr);
	}
}




